asgiref==3.9.2
brotli==1.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.1
cssselect2==0.8.0
Django==5.2.6
django-allauth==65.11.2
django-cors-headers==4.9.0
django-sslserver==0.22
djangorestframework==3.16.1
fonttools==4.61.1
git-filter-repo==2.47.0
idna==3.10
Markdown==3.10
oauthlib==3.3.1
pillow==11.3.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.12.1
PyJWT==2.10.1
pyphen==0.17.2
python-dotenv==1.2.1
reportlab==4.4.7
requests==2.32.5
requests-oauthlib==2.0.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
weasyprint==67.0
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.0
